# Core
requests==2.31.0
python-dotenv==1.0.0

# ML
numpy>=1.26.0
pandas>=2.1.4
prophet>=1.1.5
statsmodels>=0.14.0

# Visualization
plotly==5.18.0

# App
dash>=2.14.0
dash-bootstrap-components>=1.5.0
pyarrow>=14.0.0
